  .label {
    display: inline-block;
    width: 10em;
    margin: .5em 0;
    color: #9f4355;
    font-weight: bold;
  }
  .label-a {
    display: inline-block;
    margin: .5em 0;
    color: #9f4355;
    font-weight: bold;
    text-align: left;
  }
  input {
    height: 2em;
    font-size: 1em;
    padding-left: .4em;
  }
  button {
    height: 50px;
    margin-top: 30px;
    font-family: Arial;
    background-color: #468499;
    color: white;
    border: none;
    padding: 10px,15px;;
    border-radius: 10px;
    cursor: pointer;
  }
  .label-button{
    height: 50px;
    margin-top: 10px;
    font-family: Arial;
    background-color: #944463;
    color:white;
    border: none;
    padding: 10px,15px;
    border-radius: 4px;
    cursor: pointer;
  }
  button:hover {
    background-color: #d7919f;
  }
  button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  }
  nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
    background-color:#468499;
    border-radius: 4px;
    cursor: pointer;
  }
  nav a:visited, a:link {
    color: white;
  }
  nav a:hover {
    color: white;
    background-color:#7da8b7;
  }
  nav button:hover{
    color: white;
    background-color:#7da8b7;
  }