h1 {
    font-size: 1.2em;
    margin-bottom: 0;
    color: #9f4355;
    text-align: center;
  }
  h2 {
    font-size: 2em;
    margin-top: 0;
    padding-top: 0;
  }
  nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color:#9f4355;
    border-radius: 4px;
  }
  nav a:visited, a:link {
    color: white;
  }
  nav a:hover {
    color: #9f4355;
    background-color:#f7cec7;
  }


