<h2>Bildiri</h2>
<div><button class="clear"(click)="messageService.clear()">Listeyi Boşalt</button></div><br>
<div *ngIf="messageService.messages.length">
    <div *ngFor='let message of messageService.messages'> {{message}} </div> 
</div>
