<div>
    <h2>{{hero.name | uppercase}}</h2>
    <h2>{{hero.power}}</h2>
    <div>
      <label>Karakterin İsmi:
        <input [(ngModel)]="hero.name" placeholder="name"/>
      </label>
      <pre></pre>
      <label>Karakterin Gücü:
        <input [(ngModel)]="hero.power" placeholder="power"/>
      </label>
    </div>
    <div>
        <button (click)="create()" class="create-button">Karakteri Oluştur</button>
    </div>    
    
    <nav><a routerLink="/dashboard">Anasayfaya Dön</a></nav>
  </div>
  