  a {
    text-decoration: none;
  }
  *, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  h4{
    position: relative;
  }
  .col-1-4 {
    width: 25%;
  }
  .module {
    padding: 20px;
    text-align: center;
    color: #eee;
    max-height: 120px;
    min-width: 120px;
    background-color:#964C53;
    border-radius: 2px;
  }
  .module:hover {
    background-color:#f4eded;
    cursor: pointer;
    color: #caa5a9;
  }
  .grid-pad {
    padding: 20px 0;
    margin: 0; 
  }