<h2>Kahramanların Listesi</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span>{{hero.name}}  -  {{hero.power}}
    </a>
  </li>
</ul>
<hr/>

<app-card-deck>
  <app-card [title]="hero.name" bg-color="#f0e5e6" title-style="background: #9f4355; color: white; margin-bottom: 1rem;" (click)="navigateDetail(hero)" *ngFor="let hero of heroes">
    <ng-template #cardBody>
      <span>{{hero.power}}</span>
    </ng-template>
    <ng-template #cardFooter>
      Karakter özelliklerin görmek için tıklayınız.
    </ng-template>
  </app-card>
</app-card-deck>
